@page "/Employee/AddEmployee"
@*@inject HttpClient Http*@
@inject NavigationManager NavigationManager
@inject ToolManagementSystem.Shared.Service.EmployeeService objEmpService
@using ToolManagementSystem.Shared.Models

<h3>Create new Employee</h3>
<hr />

<EditForm Model="@employee">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>First Name:</label>
        <div class="form-group">
            <InputText @bind-Value="@employee.FirstName" class="form-control" />
            <ValidationMessage For="@(()=>employee.FirstName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Patronymic:</label>
        <div class="form-group">
            <InputText @bind-Value="@employee.Patronymic" class="form-control" />
            <ValidationMessage For="@(()=>employee.Patronymic)" />
        </div>
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <InputText @bind-Value="@employee.LastName" class="form-control" />
        <ValidationMessage For="@(()=>employee.LastName)" />

    </div>
    <div class="form-group">
        <label>Birth Date:</label>
        <div class="form-group">
            <InputDate @bind-Value="@employee.BirthDate" class="form-control" />
            <ValidationMessage For="@(()=>employee.BirthDate)" />
        </div>
    </div>
    <div class="form-group">
        <label>Phone:</label>
        <InputText @bind-Value="@employee.Phone" class="form-control" />
        <ValidationMessage For="@(()=>employee.Phone)" />
    </div>
    <div class="form-group">
        <label>UserName:</label>
        <InputText @bind-Value="@employee.UserName" class="form-control" />
        <ValidationMessage For="@(()=>employee.UserName)" />
    </div><div class="form-group">
              <label>Password:</label>
        <InputText @bind-Value="@employee.Password" class="form-control" />
        <ValidationMessage For="@(()=>employee.Password)" />
    </div>



    <div class="container">
        <button type="submit" class="btn btn-success col-md-12" @onclick="@CreateEmployee">Create Employee</button>
    </div>
    <div class="container">
        <input type="button" class="btn btn-success col-md-12" @onclick="@Cancel" value="Cancel" />
    </div>
</EditForm>
@code {
    Employees employee = new Employees();
    private async Task CreateEmployee()
    {
        await objEmpService.Create(employee);
        NavigationManager.NavigateTo("employee/employee");
    }
    public void Cancel()
    {
        NavigationManager.NavigateTo("employee/employee");
    }
}
