@page "/Tools/"
@inject IJSRuntime jsRuntime

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11 col-md-10 pl-0 pb-2 pb-md-0">
            <h3>Склад</h3>
        </div>
        <div class="col-lg-1 col-md-2 pr-0 pl-0">
            <button class="btn btn-primary w-100 pt-2 pb-2 fa fa-plus create-button" type="button"
                    data-toggle="modal" data-target="#createModal"></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    @* Поиск panel start *@
    <div class="row mb-3 mt-3">
        <div class="card w-100">
            <div class="card-header pt-0 pb-0">
                <h5 class="pt-2 pb-2">
                    Поиск
                    <a class="card-link float-right fa @Caret fa-lg" @onclick="ChangeCaret" data-toggle="collapse" href="#toolsSearchCollapse">
                    </a>
                </h5>
            </div>
            <div id="toolsSearchCollapse" class="collapse">
                <form class="m-3">
                    <div class="container-fluid">
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Наименование:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Статус:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <select class="form-control">
                                    <option selected="selected">Все</option>
                                    <option>RFU</option>
                                    <option>JF</option>
                                    <option>JF(SB)</option>
                                    <option>WS</option>
                                    <option>WO</option>
                                    <option>RP</option>
                                    <option>Scrap</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Подразделение:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Серийный номер:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Партийный номер:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Артикул:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-4 col-lg-3 pt-1 pl-0">
                                Классификация:
                            </div>
                            <div class="col pr-0 pl-0 pl-md-1">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row d-flex flex-row-reverse pt-2 pb-2">
                            <button class="btn btn-primary">
                                <span aria-hidden="true" class="fa fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    @* Поиск panel end *@

    @* Table start *@
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Управление</th>
                                <th>Наименование</th>
                                <th>Статус</th>
                                <th>Подразделение</th>
                                <th>Серийный номер</th>
                                <th>Партийный номер</th>
                                <th>Артикул</th>
                                <th>Классификация</th>
                                <th>Время работы (за цикл)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                </td>
                                <td class="text-left"><a href="/Tools/Details/1">00000001</a></td>
                                <td class="text-left">RFU</td>
                                <td class="text-left">Подразделение 1</td>
                                <td class="text-left">
                                    12345678
                                </td>
                                <td class="text-left">
                                    12345678
                                </td>
                                <td class="text-left">12345678</td>
                                <td class="text-left">Вид1 -> Тип2 -> Подтип4</td>
                                <td class="text-left">
                                    <div class="row m-auto"><p>01:34</p></div>
                                    <div class="row m-auto">Время до ремонта: 5:46</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <button class="btn btn-primary fa fa-edit edit-button" type="button"
                                            data-toggle="modal" data-target="#editModal"></button>
                                    <button class="btn btn-primary fa fa-times" type="button"
                                            data-toggle="modal" data-target="#deleteModal"></button>
                                </td>
                                <td class="text-left"><a href="/Tools/Details/1">00000001</a></td>
                                <td class="text-left">RFU</td>
                                <td class="text-left">Подразделение 1</td>
                                <td class="text-left">
                                    12345678
                                </td>
                                <td class="text-left">
                                    12345678
                                </td>
                                <td class="text-left">12345678</td>
                                <td class="text-left">Вид1 -> Тип2 -> Подтип4</td>
                                <td class="text-left error-text">
                                    <div class="row m-auto"><p>01:34</p></div>
                                    <div class="row  m-auto">Требуется ремонт! Переработка: 5:46</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    @* Table end *@

    @*Modal Delete*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить запись?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary ">Принять</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Delete*@

    @*Modal Edit*@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="fa fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Номенклатура:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <select class="form-control">
                                    <option>Номенклатура1</option>
                                    <option>Номенклатура2</option>
                                    <option>Номенклатура3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Подразделение:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <select class="form-control">
                                    <option>Подразделение1</option>
                                    <option>Подразделение2</option>
                                    <option>Подразделение3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Класификация:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <div id="editParentDropdownWrapper" class="dropdown">
                                    <input type="text" class="form-control dropdown-toggle" id="editParentNode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" readonly @onclick="@(() => AddEditTreeDropdown("editClassificationTree", "editDropdown", "editParentNode", "id"))" />
                                    <div id="editDropdown" class="dropdown-menu" aria-labelledby="parent_node">
                                        <div id="editClassificationTree">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Серийный номер:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Партийный номер:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Артикул:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center pl-3 pr-3">
                                <label for="unitTitle" class="col col-md-8 col-lg-9 col-form-label mb-2"> Детали:</label>
                                <div class="w-100 d-md-none"></div>
                                <div class="col col-md-4 col-lg-3 mb-2">
                                    <button class="btn btn-primary w-100 fa fa-plus float-md-right create-button" type="button" @onclick="@(() => AddPartRow("partsEditTbody"))"></button>
                                </div>
                            </div>
                            <div class="row align-items-center pl-3 pr-3">
                                <div class="col pt-1">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:10%;"></th>
                                                    <th style="width:30%;">Наименование</th>
                                                    <th style="width:30%;">Артикул</th>
                                                </tr>
                                            </thead>
                                            <tbody id="partsEditTbody">
                                                <tr>
                                                    <td class="text-left">
                                                        <button class="btn btn-primary fa fa-minus w-100" type="button"
                                                                data-toggle="modal" data-target="#editModal"></button>
                                                    </td>
                                                    <td class="text-left">
                                                        Номенклатура1
                                                    </td>
                                                    <td class="text-left">
                                                        12345678
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@(() => ClearPartTable("partsEditTbody"))">Отмена</button>
                    <button type="button" class="btn btn-primary" @onclick="@(() => ClearPartTable("partsEditTbody"))">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    @*Modal Edit*@

    @*Modal Create*@
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание новой записи</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row align-items-center">
                            <label for="statusTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Номенклатура:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <select class="form-control">
                                    <option>Номенклатура1</option>
                                    <option>Номенклатура2</option>
                                    <option>Номенклатура3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Подразделение:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <select class="form-control">
                                    <option>Подразделение1</option>
                                    <option>Подразделение2</option>
                                    <option>Подразделение3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Класификация:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <div id="creationParentDropdownWrapper" class="dropdown">
                                    <input type="text" class="form-control dropdown-toggle" id="creationParentNode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @onclick="@(() => AddСreationTreeDropdown("creationClassificationTree", "creationDropdown", "creationParentNode"))" readonly />
                                    <div id="creationDropdown" class="dropdown-menu" aria-labelledby="parent_node">
                                        <div id="creationClassificationTree">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Серийный номер:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Партийный номер:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="unitTitle" class="col col-md-4 col-lg-3 col-form-label mb-2"> Артикул:</label>
                            <div class="w-100 d-md-none"></div>
                            <div class="col col-md-8 col-lg-9 mb-2">
                                <input type="text" class="form-control" id="unitTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center pl-3 pr-3">
                                <label for="unitTitle" class="col col-md-8 col-lg-9 col-form-label mb-2"> Детали:</label>
                                <div class="w-100 d-md-none"></div>
                                <div class="col col-md-4 col-lg-3 mb-2">
                                    <button class="btn btn-primary w-100 fa fa-plus float-md-right create-button" type="button" @onclick="@(() => AddPartRow("partsCreationTbody"))"></button>
                                </div>
                            </div>
                            <div class="row align-items-center pl-3 pr-3">
                                <div class="col pt-1">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:10%;"></th>
                                                    <th style="width:30%;">Наименование</th>
                                                    <th style="width:30%;">Артикул</th>
                                                </tr>
                                            </thead>
                                            <tbody id="partsCreationTbody">
                                                <tr>
                                                    <td class="text-left">
                                                        <button class="btn btn-primary fa fa-minus w-100" type="button"
                                                                data-toggle="modal" data-target="#editModal"></button>
                                                    </td>
                                                    <td class="text-left">
                                                        Номенклатура1
                                                    </td>
                                                    <td class="text-left">
                                                        12345678
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@(() => ClearPartTable("partsCreationTbody"))">Отмена</button>
                    <button type="button" class="btn btn-primary" @onclick="@(() => ClearPartTable("partsCreationTbody"))">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
    @*Modal Create*@
</div>

@code {
    private bool isCaretUp = false;
    public string Caret => isCaretUp ? "fa-caret-down" : "fa-caret-up";
    private bool ModalCreateFirstOpened = true;
    private int PartsCounter = 0;

    public void ChangeCaret()
    {
        isCaretUp = !isCaretUp;
    }

    private void IncrementCount()
    {
        PartsCounter++;
        //await SessionStorage.SetItem<int>("counter", currentCount);
    }

    public async void AddPartRow(string tbodyName)
    {

        await jsRuntime.InvokeVoidAsync("AddPartRow", tbodyName, PartsCounter);
        IncrementCount();
    }

    public async void ClearPartTable(string tbodyName)
    {

        await jsRuntime.InvokeVoidAsync("ClearTable", tbodyName);
        PartsCounter = 1;
    }

    public async void AddEditTreeDropdown(string treeElementName, string wrapperElementName, string textBoxElementName, string nodeId)
    {
        //КОСТЫЛЬ
        await jsRuntime.InvokeVoidAsync("DeleteClassificationEditDropdown", treeElementName);
        await jsRuntime.InvokeVoidAsync("AddClasificationTreeDropdown", treeElementName, textBoxElementName);
        await jsRuntime.InvokeVoidAsync("StopDropdownFromClosing", wrapperElementName);
    }

    public async void AddСreationTreeDropdown(string treeElementName, string wrapperElementName, string textBoxElementName)
    {
        if (ModalCreateFirstOpened == true)
        {
            await jsRuntime.InvokeVoidAsync("AddClasificationTreeDropdown", treeElementName, textBoxElementName);
            await jsRuntime.InvokeVoidAsync("StopDropdownFromClosing", wrapperElementName);
            ModalCreateFirstOpened = false;
        }
    }
}

